<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clxs.web.dao.UserDao">

    <resultMap id="UserResultMap" type="com.clxs.web.model.User">
        <id column="UserResultMap" property="id" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="findByUsernameAndPassword" resultMap="UserResultMap" parameterType="String">
        select * from user u
        <where>
            u.username = #{username}
            and
            u.password = #{password}
        </where>
    </select>

    <select id="findByUsername" resultMap="UserResultMap" parameterType="String">
        select * from user u
        <where>
            u.username = #{username}
        </where>
    </select>

</mapper>